body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.header {
  padding-top: 20px;
  height: 700px;
  /* background-image: url("background.jpg"); */
  background-color: black;
}

.hardwork {
  color: rgb(94, 105, 245);
  font-weight: 550;
  font-size: 35px;
  animation: hardwork 10s ease-out infinite;
  -webkit-clip-path: inset(0 100% 0 0);
}

@keyframes hardwork {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  40% {
    clip-path: inset(0 0 0 0);
  }

  70% {
    clip-path: inset(0 0 0 0);
  }

  60% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.hi {
  color: whitesmoke;
  font-size: 60px;
}
.name-span {
  color: #7e000a;
  font-weight: 550;
  position: relative;
  animation: sharma 2s ease-in-out infinite alternate;
}

@keyframes sharma {
  from {
    top: -5px;
  }

  to {
    top: 5px;
  }
}

.frontend {
  color: rgb(70, 243, 70);
  font-size: 35px;
}

.hi,
.hardwork,
.frontend {
  text-align: center;
}



.facebook,
.instagram,.git {
  margin-top: 30px;
  font-size: 60px;
  color: white;
  transition:transform 2s;
}
.facebook:hover {
  color: rgb(24, 119, 242); 
  transform: translateX(-10px);
}

.instagram:hover {
  color: rgb(225, 48, 108);
  transform:translateY(-10px) ;
}
.git:hover {
  color: rgb(130, 155, 201);
  transform: translateX(10px);
}
.about {
  width: 100%;
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 32px !important;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
  color: rgb(136, 163, 187);
}

.btn:hover {
  color: white;
  background-color: rgb(54, 50, 50);
}

.social {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.introduction-section {
  background-color: rgb(238, 231, 231);
  height: 700px;
  border: 0.5px solid black;
  border-radius: 20px;
  margin: 0 165px 0 165px;
  box-shadow: 5px 5px 5px 5px rgb(204, 166, 166);
}
/* .introduction-section:hover {
  background-color: rgb(245, 245, 191);
} */

h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  color: red;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: blueviolet;
}

h4 {
  font-size: 30px;
  text-align: center;
}

.intro-span {
  font-size: 40px;
  color: brown;
}

.container {
  max-height: 1000px;
  display: flex;
  overflow: hidden;
  /* border: 1px solid red; */
  /* gap: 30px; */
  /* flex-direction: column; */
  /* position: relative; */
  /* align-items: flex-start; */
}

.my-picture {
  height: 400px;
  width: 700px !important;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 30px;
  /* position: absolute ; */
}

.introduction {
  margin: 80px 50px 0 20px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(76, 80, 79);
  text-align: justify;
  hyphens: auto;
  /* margin-top: 100px; */
  /* background-color: red; */
}

.profile-skills {
  margin: 100px 0 0 180px;
  display: flex;
  gap: 100px;
  justify-content: ;
  width: 1000px;
  border: 2px solid rgb(218, 113, 113);
  border-radius: 20px;
}

.profile,
.skills {
  width: 400px;
  /* background-color: aqua; */
  padding: 20px;
}

.profile-para,
.skills-para {
  font-weight: 500;
  font-size: 18px;
  margin-left: 50px;
}

.profile-span,
.skills-span {
  font-size: 32px;
  font-weight: 600;

  margin-left: 50px;
}

.fa-calendar-check,
.fa-envelope-open,
.fa-user,
.fa-flag {
  color: #cc005f;
}

ul {
  list-style: none;
}

.ul-profile {
  margin-top: 30px;
}

.name,
.dob,
.email,
.nationality {
  margin-bottom: 30px;
  font-size: 20px;
}

.name-div,
.dob-div,
.email-div,
.nationality-div {
  margin: 0 0 0 20px;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.ul-skills {
  padding-top: 30px;
  font-size: 20px;
}
.html-text {
  margin-top: 0 !important;
}
.ul-skills li {
  margin-top: 10px;
}
.html,
.css,
.javascript,
.java,
.github {
  height: 20px;
  background-color: rgb(90, 81, 81);
  border-radius: 5px;
}
.css,
.javascript,
.java,
.github {
  margin-top: 10px;
}
.html-progress {
  height: 20px;
  width: 300px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.css-progress {
  height: 20px;
  width: 250px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.javascript-progress {
  height: 20px;
  width: 200px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.java-progress {
  height: 20px;
  width: 150px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.github-progress {
  height: 20px;
  width: 50px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.html-progress,
.css-progress,
.javascript-progress,
.java-progress,
.github-progress {
  margin-top: 5px;
  border-radius: 5px;
}

/* .ul-skills li{
  gap: 10px;
} */
.explore {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: px;
  text-decoration-color: rgb(107, 211, 11);
  text-decoration-thickness: 3px;
}
.sample {
  text-align: center;
  font-size: 22px;
  color: rgb(54, 34, 34);
}
.sample-webpage-image {
  width: 400px;
  height: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 100px !important;
  border: 2px solid rgb(226, 224, 70);
  border-radius: 5px;
  padding: 20px;
}
.sample-webpage-image:hover {
  transform: scale(1.2);
}
.footer-text {
  color: #516d72;
  font-weight: 600;
}
footer {
  margin-top: 70px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.email-link {
  margin-top: 20px;
  display: block;
  font-size: 50px;
}
.email-btn {
  color: rgb(37, 128, 226);
}
.email-btn:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  /* ================= GLOBAL ================= */
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* ================= HEADER ================= */
  .header {
    height: auto;
    padding: 30px 15px;
  }

  .hardwork {
    font-size: 22px;
    text-align: center;
  }

  .hi {
    font-size: 32px;
    text-align: center;
    animation: none;
  }

  .frontend {
    font-size: 20px;
    text-align: center;
  }

  .social {
    gap: 30px;
  }

  .icons {
    font-size: 40px;
  }

  .btn {
    font-size: 20px;
    padding: 8px 14px;
  }

  /* ================= INTRO SECTION ================= */
  .introduction-section {
    margin: 15px;
    height: auto;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  .container {
    overflow: visible;  
    flex-direction: column;
    align-items: center;
  }


 .my-picture {
    width: min(45vw, 180px);
    height: auto;
    margin: 0 auto 15px;
    display: block;
 }
   
  
  

  .introduction {
    margin: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
  }

  /* ================= PROFILE + SKILLS ================= */
  .profile-skills {
    margin: 30px 10px;
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .profile,
  .skills {
    width: 100%;
    padding: 10px;
  }

  .profile-span,
  .skills-span {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }

  .profile-para,
  .skills-para {
    margin-left: 0;
    font-size: 16px;
    text-align: center;
  }

  .ul-profile li,
  .ul-skills li {
    font-size: 16px;
  }

  /* ================= PROGRESS BAR CONTAINERS ================= */
  .html,
  .css,
  .javascript,
  .java,
  .github {
    width: 100%;
    height: 28px;
    overflow: hidden;
  }

  /* ================= PROGRESS BARS (PERCENT BASED) ================= */
  .html-progress {
    width: 90%;
    height: 100%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
  }

  .css-progress {
    width: 75%;
    height: 100%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
  }

  .javascript-progress {
    width: 50%;
    height: 100%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
  }

  .java-progress {
    width: 35%;
    height: 100%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
  }

  .github-progress {
    width: 20%;
    height: 100%;
    line-height: 28px;
    font-size: 14px;
    margin-top: 0;
  }

  /* ================= SAMPLE PROJECT ================= */
  .explore {
    font-size: 24px;
  }

  .sample {
    font-size: 18px;
  }

  .sample-webpage-image {
    width: 90%;
    height: auto;
    margin-top: 40px;
  }

  /* ================= FOOTER ================= */
  footer {
    font-size: 18px;
  }

  .email-link {
    font-size: 40px;
  }
}





