body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
.header {
  padding-top: 20px;
  height: 700px;
  /* background-image: url("background.jpg"); */
  background-color: black;
}

.hardwork {
  color: red;
  font-size: 35px;
  animation: hardwork 10s ease-out infinite;
  -webkit-clip-path: inset(0 100% 0 0);
}

@keyframes hardwork {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  40% {
    clip-path: inset(0 0 0 0);
  }

  70% {
    clip-path: inset(0 0 0 0);
  }

  60% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.hi {
  color: whitesmoke;
  font-size: 60px;
  position: relative;
  animation: hi-para 5s ease-in-out infinite alternate;
}

@keyframes hi-para {
  from {
    top: -20px;
  }

  to {
    top: 20px;
  }
}

.frontend {
  color: rgb(70, 243, 70);
  font-size: 35px;
}

.hi,
.hardwork,
.frontend {
  text-align: center;
}

.about {
  /* text-align: center; */
  width: 100%;
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btn {
  border: 5px solid rgb(250, 250, 250);
  font-size: 32px;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
  color: aliceblue;
  background-color: rgb(68, 74, 110);
}

.btn:hover {
  background-color: rgb(199, 10, 51);
}

.social {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.icons {
  margin-top: 30px;
  font-size: 60px;
  color: white;
  text-align: center;
}
.icons:hover {
  color: rgb(255, 0, 0);
}

.introduction-section {
  background-color: rgb(238, 231, 231);
  height: 450px;
  /* border: 0.5px solid black; */
  border-radius: 20px;
  margin:0 165px 0 165px;
  box-shadow: 5px 5px 5px 5px rgb(204, 166, 166);
}
/* .introduction-section:hover{
    background-color: rgb(245, 245, 191) ;
  } */

h3 { text-align: center;
  padding-top: 20px;
  font-size: 35px;
  color: red;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: blueviolet;
}

h4 {
  font-size: 30px;
  text-align: center;
}

.intro-span {
  font-size: 40px;
  color: brown;
}

.container {
  display: flex;
}

.my-picture {
  height: 200px;
  width: 200px;
  margin-left: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.introduction {
  margin: 0 100px;
  font-size: 20px;
  margin-top: 10px;

}

.profile-skills {
  margin: 100px 0 0 180px;
  display: flex;
  gap: 100px;
  justify-content: ;
  width: 1000px;
  border: 2px solid rgb(218, 113, 113);
  border-radius: 20px;
}

.profile,
.skills {
  width: 400px;
  /* background-color: aqua; */
  padding: 20px;
}

.profile-para,
.skills-para {
  font-weight: 500;
  font-size: 18px;
  margin-left: 50px;
}

.profile-span,
.skills-span {
  font-size: 32px;
  font-weight: 600;

  margin-left: 50px;
}

.fa-calendar-check,
.fa-envelope-open,
.fa-user,
.fa-flag {
  color: #cc005f;
}

ul {
  list-style: none;
}

.ul-profile {
  margin-top: 30px;
}

.name,
.dob,
.email,
.nationality {
  margin-bottom: 30px;
  font-size: 20px;
}

.name-div,
.dob-div,
.email-div,
.nationality-div {
  margin: 0 0 0 20px;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.ul-skills {
  padding-top: 30px;
  font-size: 20px;
}
.html-text {
  margin-top: 0 !important;
}
.ul-skills li {
  margin-top: 10px;
}
.html,
.css,
.javascript,
.java,
.github {
  height: 20px;
  background-color: rgb(90, 81, 81);
  border-radius: 5px;
}
.css,
.javascript,
.java,
.github {
  margin-top: 10px;
}
.html-progress {
  height: 20px;
  width: 300px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.css-progress {
  height: 20px;
  width: 250px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.javascript-progress {
  height: 20px;
  width: 200px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.java-progress {
  height: 20px;
  width: 150px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.github-progress {
  height: 20px;
  width: 50px;
  background-color: rgb(175, 11, 66);
  color: white;
  font-size: 16px;
  text-align: right;
}

.html-progress,
.css-progress,
.javascript-progress,
.java-progress,
.github-progress {
  margin-top: 5px;
  border-radius: 5px;
}

/* .ul-skills li{
  gap: 10px;
} */
.explore {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: px;
  text-decoration-color: rgb(107, 211, 11);
  text-decoration-thickness: 3px;
}
.sample {
  text-align: center;
  font-size: 22px;
  color: rgb(54, 34, 34);
}
.sample-webpage-image {
  width: 400px;
  height: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 100px !important;
  border: 2px solid rgb(226, 224, 70);
  border-radius: 5px;
  padding: 20px;
}
.sample-webpage-image:hover{
 transform: scale(1.2);
}
.footer-text{
  color: #516d72;
  font-weight: 600;
}
footer{
  margin-top: 70px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.email-link{
  margin-top: 20px;
  display: block;
  font-size: 50px;
}
.email-btn{
  color: rgb(37, 128, 226);
}

@media (max-width: 1024px) {
  /* Header */
  .header {
    height: auto !important;
    padding: 20px 10px !important;
  }
  .hi { font-size: 45px !important; }
  .hardwork, .frontend { font-size: 25px !important; }
  .social { gap: 30px !important; }
  .about .btn { font-size: 24px !important; padding: 4px !important; }

  /* Introduction Section */
  .introduction-section {
    margin: 0 50px !important;
    height: auto !important;
  }
  .container {
    flex-direction: column !important;
    align-items: center !important;
  }
  .my-picture {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
  .introduction { margin: 10px 20px !important; font-size: 18px !important; }

  /* Profile and Skills */
  .profile-skills {
    flex-direction: column !important;
    margin: 50px auto !important;
    width: 90% !important;
  }
  .profile, .skills {
    width: 100% !important;
    margin-bottom: 20px !important;
    padding: 10px !important;
  }
  .profile-para, .skills-para, .profile-span, .skills-span {
    margin-left: 0 !important;
    text-align: center !important;
  }

  /* Progress Bars */
  .html-progress { width: 70% !important; }
  .css-progress { width: 65% !important; }
  .javascript-progress { width: 60% !important; }
  .java-progress { width: 50% !important; }
  .github-progress { width: 40% !important; }

  /* Sample Section */
  .explore { font-size: 26px !important; }
  .sample { font-size: 18px !important; }
  .sample-webpage-image { width: 300px !important; height: auto !important; margin-top: 50px !important; }

  /* Footer */
  footer { font-size: 20px !important; }
  .email-link { font-size: 40px !important; }
}

/* Mobile phones */
@media (max-width: 480px) {
  /* Header */
  .hi { font-size: 32px !important; }
  .hardwork, .frontend { font-size: 20px !important; }
  .social { gap: 20px !important; }
  .about .btn { font-size: 18px !important; padding: 3px !important; }

  /* Introduction Section */
  .introduction-section { margin: 0 20px !important; }
  .introduction { font-size: 16px !important; }

  /* Profile and Skills */
  .profile-skills {
    width: 95% !important;
    margin: 30px auto !important;
    flex-direction: column !important;
  }
  .profile, .skills {
    width: 100% !important;
    padding: 10px !important;
  }
  .profile-para, .skills-para, .profile-span, .skills-span { font-size: 18px !important; }

  .ul-profile li, .ul-skills li { font-size: 16px !important; }

  /* Progress Bars */
  .html-progress { width: 100% !important; }
  .css-progress { width: 90% !important; }
  .javascript-progress { width: 80% !important; }
  .java-progress { width: 70% !important; }
  .github-progress { width: 60% !important; }

  /* Sample Section */
  .explore { font-size: 22px !important; }
  .sample { font-size: 16px !important; }
  .sample-webpage-image { width: 100% !important; max-width: 250px !important; margin-top: 30px !important; }

  /* Footer */
  footer { font-size: 18px !important; }
  .email-link { font-size: 35px !important; }
}

/* Extra small devices (<360px) */
@media (max-width: 360px) {
  .hi { font-size: 28px !important; }
  .hardwork, .frontend { font-size: 18px !important; }
  .btn { font-size: 16px !important; padding: 2px !important; }
  .introduction { font-size: 14px !important; }
  .profile-para, .skills-para, .profile-span, .skills-span { font-size: 16px !important; }
  .ul-profile li, .ul-skills li { font-size: 14px !important; }
  .explore { font-size: 20px !important; }
  .sample { font-size: 14px !important; }
  .sample-webpage-image { max-width: 200px !important; margin-top: 20px !important; }
  .email-link { font-size: 30px !important; }
}
